@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = null;
}

@inject Microsoft.Extensions.Localization.IStringLocalizer<Damon.BookStore.Localization.BookStoreResource> L

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Books"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="NewBookButton"
                            text="@L["NewBook"].Value"
                            icon="plus"
                            button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>

    @*<abp-card-body>
            <abp-table  id="BooksTable">

            </abp-table>
        </abp-card-body>*@
    <table class="table" id="BooksTable">
    </table>
</abp-card>

@section css{
    <style>
        .table {
            width: 100% !important;
        }

        .row {
            display: flex !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            margin: 0;
            white-space: nowrap;
            text-align: right !important;
        }

        div.dataTables_wrapper div.dataTables_length label {
            font-weight: normal;
            text-align: left;
            white-space: nowrap;
            margin-top: 4px;
        }
        div.dataTables_wrapper div.dataTables_info {
            padding-top: 0.85em;
            white-space: nowrap;
            padding-left: 20px;
        }
        .col {
            flex-basis: 0;
            flex-grow: 1;
            min-width: 0;
            max-width: 100%;
        }
    </style>
}

@section scripts{

    <script>
        $(function () {
            var l = abp.localization.getResource("BookStore");
            console.log(abp);
            console.log(abp.appPath);
            var createModal = new abp.ModalManager(abp.appPath + "Book/CreateModal");

            var editModal = new abp.ModalManager(abp.appPath + "Books/EditModal");

            var dataTable = $("#BooksTable").DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    serverSide: true,
                    paging: true,
                    order: [[1, "asc"]],
                    searching: false,
                    scrollX: true,
                    ajax: abp.libs.datatables.createAjax(damon.bookStore.books.book.getList),
                    columnDefs: [

                        {
                            title: l("Name"),
                            data: "name"
                        },
                        {
                            title: l("Type"),
                            data: "type",
                            render: function (data) {
                                return l("Enum:BookType:" + data);
                            }
                        },
                        {
                            title: l("PublishDate"),
                            data: "publishDate",
                            render: function (data) {
                                return luxon
                                    .DateTime
                                    .fromISO(data,
                                        {
                                            locale: abp.localization.currentCulture.name
                                        }).toLocaleString();
                            }
                        },
                        {
                            title: l("Price"),
                            data: "price"
                        },
                        {
                            title: l("CreationTime"),
                            data: "creationTime",
                            render: function (data) {
                                return luxon
                                    .DateTime
                                    .fromISO(data,
                                        {
                                            locale: abp.localization.currentCulture.name
                                        }).toLocaleString(luxon.DateTime.DATETIME_SHORT);
                            }
                        },
                        {
                            title: l("Actions"),
                            rowAction: {
                                items:
                                    [
                                        {
                                            text: l("Edit"),
                                            action: function (data) {
                                                editModal.open({ id: data.record.id });
                                            }
                                        },
                                        {
                                            text: l("Delete"),
                                            confirmMessage: function (data) {
                                                return l("BookDeletionConfirmationMessage", data.record.name);
                                            },
                                            action: function (data) {
                                                damon.bookStore.books.book
                                                    .delete(data.record.id)
                                                    .then(function () {
                                                        abp.notify.info(l("SuccessfullyDeleted"));
                                                        dataTable.ajax.reload();
                                                    });
                                            }
                                        }
                                    ]
                            }
                        }
                    ]
                })
            );


            createModal.onResult(function () {
                dataTable.ajax.reload();
            });

            editModal.onResult(function () {
                dataTable.ajax.reload();
            });

            $("#NewBookButton").click(function (e) {
                e.preventDefault();
                createModal.open();
            });
        });
    </script>
}