@using Damon.BookStore.Localization
@using Microsoft.Extensions.Localization
<!DOCTYPE html>
@inject IStringLocalizer<BookStoreResource> L
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <environment include="Development">
        @*begin global mandatory styles*@
        <link href="~/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" />
        @*end global mandatory styles*@

        @*begin page level plugins*@
        <link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/morris/morris.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" />
        @*end page level plugins*@

        @*begin theme global styles*@
        <link href="~/assets/global/css/components.css" rel="stylesheet" />
        <link href="~/assets/global/css/plugins.css" rel="stylesheet" />
        @*end theme global styles*@

        @*begin theme layout styles*@
        <link href="~/assets/layouts/layout/css/layout.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/themes/darkblue.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/custom.css" rel="stylesheet" />
        @*end theme layout styles*@


        <link href="~/libs/abp/core/abp.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*begin global mandatory styles*@
        <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
        @*end global mandatory styles*@

        @*begin page level plugins*@
        <link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/morris/morris.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" />
        @*end page level plugins*@

        @*begin theme global styles*@
        <link href="~/assets/global/css/components.min.css" rel="stylesheet" />
        <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" />
        @*end theme global styles*@

        @*begin theme layout styles*@
        <link href="~/assets/layouts/layout/css/layout.min.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/custom.min.css" rel="stylesheet" />
        @*end theme layout styles*@
    </environment>


    <link href="~/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <style>
        body {
            background-color: white !important
        }
    </style>
    @RenderSection("css", false)
</head>
<body>
<div class="page-content">
    12312312312312312312
    @RenderBody()
</div>
</body>
<environment include="Development">
    @*begin core plugins*@
    <script src="~/assets/global/plugins/jquery.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    @*end core plugins*@

    @*begin page level plugins*@
    <script src="~/assets/global/plugins/moment.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/global/plugins/morris/morris.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/serial.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/pie.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/radar.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/patterns.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/chalk.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/ammap.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js"></script>
    <script src="~/assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
    <script src="~/assets/global/plugins/fullcalendar/fullcalendar.js"></script>
    <script src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"></script>
    @*end page level plugins*@

    @*begin theme global scripts*@
    <script src="~/assets/global/scripts/app.js"></script>
    @*end theme global scripts*@

    @*begin page level scripts*@
    <script src="~/assets/pages/scripts/dashboard.js"></script>
    @*end page level scripts*@

    @*begin theme layout scripts*@
    <script src="~/assets/layouts/layout/scripts/layout.js"></script>
    @*<script src="~/assets/layouts/layout/scripts/demo.js"></script>*@
    <script src="~/assets/layouts/global/scripts/quick-sidebar.js"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.js"></script>
    @*end theme layout scripts*@

</environment>


<script src="~/libs/abp/utils/abp-utils.umd.min.js"></script>
<script src="~/libs/abp/core/abp.js"></script>
<script src="~/libs/abp/jquery/abp.jquery.js"></script>
@*<script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>*@
<script src="~/libs/lodash/lodash.min.js"></script>
<script src="~/libs/jquery-validation/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/libs/jquery-form/jquery.form.min.js"></script>
<script src="~/libs/select2/js/select2.min.js"></script>
<script src="~/libs/select2/js/select2-bootstrap-modal-patch.js"></script>
<script src="~/libs/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/libs/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/libs/sweetalert/sweetalert.min.js"></script>
<script src="~/libs/toastr/toastr.min.js"></script>
<script src="~/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/libs/luxon/luxon.min.js"></script>
<script src="~/libs/timeago/jquery.timeago.js"></script>
<script src="~/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/ui-extensions.js?_v=637303124380000000"></script>


<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery-form/jquery-form-extensions.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/widget-manager.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js?_v=637303124380000000"></script>

<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/sweetalert/abp-sweetalert.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/toastr/abp-toastr.js?_v=637303124380000000"></script>
<script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js?_v=637308990120000000"></script>


<script src="~/Abp/ApplicationConfigurationScript"></script>
<script src="~/Abp/ServiceProxyScript"></script>



<environment exclude="Development">
    @*begin core plugins*@
    <script src="~/assets/global/plugins/jquery.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    @*end core plugins*@

    @*begin page level plugins*@
    <script src="~/assets/global/plugins/moment.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script src="~/assets/global/plugins/morris/morris.min.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/serial.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/pie.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/radar.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/patterns.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/chalk.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/ammap.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js"></script>
    <script src="~/assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
    <script src="~/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.min.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.categories.min.js"></script>
    <script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"></script>
    @*end page level plugins*@


    @*begin theme global scripts*@
    <script src="~/assets/global/scripts/app.min.js"></script>
    @*end theme global scripts*@

    @*begin page level scripts*@
    <script src="~/assets/pages/scripts/dashboard.min.js"></script>
    @*end page level scripts*@

    @*begin theme layout scripts*@
    <script src="~/assets/layouts/layout/scripts/layout.min.js"></script>
    <script src="~/assets/layouts/layout/scripts/demo.min.js"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.min.js"></script>
    @*end theme layout scripts*@
</environment>
@RenderSection("scripts", false)
</html>