@using Damon.BookStore.Localization
@using Microsoft.Extensions.Localization
<!DOCTYPE html>
@inject IStringLocalizer<BookStoreResource> L
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <environment include="Development">
        @*begin global mandatory styles*@
        <link href="~/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" />
        @*end global mandatory styles*@

        @*begin page level plugins*@
        <link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/morris/morris.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" />
        @*end page level plugins*@

        @*begin theme global styles*@
        <link href="~/assets/global/css/components.css" rel="stylesheet" />
        <link href="~/assets/global/css/plugins.css" rel="stylesheet" />
        @*end theme global styles*@

        @*begin theme layout styles*@
        <link href="~/assets/layouts/layout/css/layout.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/themes/darkblue.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/custom.css" rel="stylesheet" />
        @*end theme layout styles*@


        <link href="~/libs/abp/core/abp.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*begin global mandatory styles*@
        <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
        @*end global mandatory styles*@

        @*begin page level plugins*@
        <link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/morris/morris.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
        <link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" />
        @*end page level plugins*@

        @*begin theme global styles*@
        <link href="~/assets/global/css/components.min.css" rel="stylesheet" />
        <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" />
        @*end theme global styles*@

        @*begin theme layout styles*@
        <link href="~/assets/layouts/layout/css/layout.min.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" />
        <link href="~/assets/layouts/layout/css/custom.min.css" rel="stylesheet" />
        @*end theme layout styles*@
    </environment>


    <link href="~/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />

</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div>
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a>
                            <img src="../assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" />
                        </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-left">
                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg" />
                                    <span class="username username-hide-on-mobile"> Nick </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="page_user_profile_1.html">
                                            <i class="icon-user"></i> My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox
                                            <span class="badge badge-danger"> 3 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_todo.html">
                                            <i class="icon-rocket"></i> My Tasks
                                            <span class="badge badge-success"> 7 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="Logout">
                                            <i class="icon-key"></i> @L["MenuItem_Account.Logout"]
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <i class="icon-logout"></i>
                                </a>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <div class="page-sidebar-wrapper">
                    <div class="page-sidebar navbar-collapse collapse">
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="heading">
                                <h3 class="uppercase">Features</h3>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">UI Features</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a class="nav-link " onclick="menuSelect()">
                                            <span class="title">角色管理</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a class="nav-link " onclick="menuSelect('https://www.baidu.com')">
                                            <span class="title">百度</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a class="nav-link " onclick="menuSelect('@Url.Action("Index","Book")')">
                                            <span class="title">图书管理</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a class="nav-link " onclick="menuSelect('/index.html#/booklist')">
                                            <span class="title">图书管理</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_metronic_grid.html" class="nav-link ">
                                            <span class="title">Metronic Grid System</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_colors.html" class="nav-link ">
                                            <span class="title">Color Library</span>
                                        </a>
                                    </li>
                  
                                    <li class="nav-item  ">
                                        <a href="javascript:;" class="nav-link nav-toggle">
                                            <span class="title">Page Progress Bar</span>
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item ">
                                                <a href="ui_page_progress_style_1.html" class="nav-link "> Flash </a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="ui_page_progress_style_2.html" class="nav-link "> Big Counter </a>
                                            </li>
                                        </ul>
                                    </li>

        
                                    <li class="nav-item  ">
                                        <a href="ui_tiles.html" class="nav-link ">
                                            <span class="title">Tiles</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_datepaginator.html" class="nav-link ">
                                            <span class="title">Date Paginator</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_nestable.html" class="nav-link ">
                                            <span class="title">Nestable List</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            

                        </ul>
                        <!-- END SIDEBAR MENU -->
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <iframe id="iframe" src='/index.html#/about' frameborder="0" style="left:0;top:0;right:0;bottom:0;width:100%; border: none; min-height: 854px;margin-left:10px"  scrolling="no"></iframe>
                    </div>
                    
                </div>



            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner">
                    2020 &copy; ABP Demo
                    <a target="_blank" href="https://www.baidu.com/">Damon</a> &nbsp;
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>

    </div>


</body>
<environment include="Development">
    @*begin core plugins*@
    <script src="~/assets/global/plugins/jquery.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    @*end core plugins*@

    @*begin page level plugins*@
    <script src="~/assets/global/plugins/moment.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/global/plugins/morris/morris.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/serial.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/pie.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/radar.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/patterns.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/chalk.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/ammap.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js"></script>
    <script src="~/assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
    <script src="~/assets/global/plugins/fullcalendar/fullcalendar.js"></script>
    <script src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"></script>
    @*end page level plugins*@

    @*begin theme global scripts*@
    <script src="~/assets/global/scripts/app.js"></script>
    @*end theme global scripts*@

    @*begin page level scripts*@
    <script src="~/assets/pages/scripts/dashboard.js"></script>
    @*end page level scripts*@

    @*begin theme layout scripts*@
    <script src="~/assets/layouts/layout/scripts/layout.js"></script>
    @*<script src="~/assets/layouts/layout/scripts/demo.js"></script>*@
    <script src="~/assets/layouts/global/scripts/quick-sidebar.js"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.js"></script>
    @*end theme layout scripts*@

</environment>


<script src="~/libs/abp/utils/abp-utils.umd.min.js"></script>
<script src="~/libs/abp/core/abp.js"></script>
@*<script src="~/libs/jquery/jquery.js"></script>*@
<script src="~/libs/abp/jquery/abp.jquery.js"></script>
<script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/libs/lodash/lodash.min.js"></script>
<script src="~/libs/jquery-validation/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/libs/jquery-form/jquery.form.min.js"></script>
<script src="~/libs/select2/js/select2.min.js"></script>
<script src="~/libs/select2/js/select2-bootstrap-modal-patch.js"></script>
<script src="~/libs/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/libs/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/libs/sweetalert/sweetalert.min.js"></script>
<script src="~/libs/toastr/toastr.min.js"></script>
<script src="~/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/libs/luxon/luxon.min.js"></script>
<script src="~/libs/timeago/jquery.timeago.js"></script>
<script src="~/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/ui-extensions.js?_v=637303124380000000"></script>


<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery-form/jquery-form-extensions.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/widget-manager.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js?_v=637303124380000000"></script>

<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/sweetalert/abp-sweetalert.js?_v=637303124380000000"></script>
<script src="~/libs/abp/aspnetcore-mvc-ui-theme-shared/toastr/abp-toastr.js?_v=637303124380000000"></script>
<script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js?_v=637308990120000000"></script>


<script src="~/Abp/ApplicationConfigurationScript"></script>
<script src="~/Abp/ServiceProxyScript"></script>



<environment exclude="Development">
    @*begin core plugins*@
    <script src="~/assets/global/plugins/jquery.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    @*end core plugins*@

    @*begin page level plugins*@
    <script src="~/assets/global/plugins/moment.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script src="~/assets/global/plugins/morris/morris.min.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/serial.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/pie.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/radar.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/patterns.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/chalk.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/ammap.js"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js"></script>
    <script src="~/assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
    <script src="~/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.min.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.categories.min.js"></script>
    <script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"></script>
    @*end page level plugins*@


    @*begin theme global scripts*@
    <script src="~/assets/global/scripts/app.min.js"></script>
    @*end theme global scripts*@

    @*begin page level scripts*@
    <script src="~/assets/pages/scripts/dashboard.min.js"></script>
    @*end page level scripts*@

    @*begin theme layout scripts*@
    <script src="~/assets/layouts/layout/scripts/layout.min.js"></script>
    <script src="~/assets/layouts/layout/scripts/demo.min.js"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.min.js"></script>
    @*end theme layout scripts*@
</environment>


<script>

    $(function () {
        console.log($("#iframe").parent());
        var height = $("#iframe").parent().attr("min-height");
        console.log(height);
    })

    function menuSelect(url) {
        console.log(url);
        $("#iframe").attr("src", url);
    }
</script>
</html>